In [8]:
import pandas as pd
import numpy as np
import pytz

In [2]:
# Reading data
rooms = ['Fuoco','Canteen','Modulare','Progetto','Affrescata']

df_list = []

for i in rooms:
    df_temp = pd.read_csv(f'data/{i}.csv')
    df_temp['room'] = i
    df_list.append(df_temp)

df = pd.concat(df_list)

In [3]:
df.groupby('room').size()

room
Affrescata    8743
Canteen        351
Fuoco         8742
Modulare      8737
Progetto        12
dtype: int64

In [4]:
columns = ['date_hour_bogota','pm10','score','temp_f',
           'humid','co2','voc','pm25','noise','light','room']
df.columns = columns

df['date_hour_bogota'] = pd.to_datetime(df['date_hour_bogota']).dt.tz_localize('America/Bogota')
df['date_hour'] = df['date_hour_bogota'].dt.tz_convert('Europe/Rome')
df = df.drop(columns=['date_hour_bogota'])

In [5]:
df.shape

(26585, 11)

In [6]:
df.head()

,pm10,score,temp_f,humid,co2,voc,pm25,noise,light,room,date_hour
0,3.2,98.0,72.4,51.6,451.1,148.3,2.2,41.3,0.0,Fuoco,2024-10-13 07:00:00+02:00
1,3.1,98.0,72.4,51.6,453.3,147.4,2.1,41.3,0.0,Fuoco,2024-10-13 07:05:00+02:00
2,3.2,98.1,72.4,51.5,455.7,146.3,2.2,41.3,0.0,Fuoco,2024-10-13 07:10:00+02:00
3,3.2,98.3,72.4,51.4,454.0,147.9,2.2,41.3,0.0,Fuoco,2024-10-13 07:15:00+02:00
4,3.5,98.7,72.4,51.4,452.6,145.7,2.5,41.3,0.0,Fuoco,2024-10-13 07:20:00+02:00

In [7]:
df.to_csv('data/air_quality_data.csv', index = False)